.DS_Store
kaggle.json
/recurrentgemma-flax-2b-it-v1/
/scratchpad
.kaggle-run.log
fix_nb.py
notebook.ipynb
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/checkpoint
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.key.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.key.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.out.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.out.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.query.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.query.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.value.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.value.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_0.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_0.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_1.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_1.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wo.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wo.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.self_attention.key.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.self_attention.key.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.self_attention.out.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.self_attention.out.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.self_attention.query.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.self_attention.query.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.self_attention.value.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.self_attention.value.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.encoder_decoder_attention.key.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.encoder_decoder_attention.key.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.encoder_decoder_attention.out.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.encoder_decoder_attention.out.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.encoder_decoder_attention.query.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.encoder_decoder_attention.query.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.encoder_decoder_attention.value.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.encoder_decoder_attention.value.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.mlp.wi_0.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.mlp.wi_0.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.mlp.wi_1.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.mlp.wi_1.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.mlp.wo.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.mlp.wo.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.self_attention.key.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.self_attention.key.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.self_attention.out.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.self_attention.out.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.self_attention.query.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.self_attention.query.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.self_attention.value.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_1.self_attention.value.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.encoder_decoder_attention.key.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.encoder_decoder_attention.key.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.encoder_decoder_attention.out.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.encoder_decoder_attention.out.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.encoder_decoder_attention.query.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.encoder_decoder_attention.query.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.encoder_decoder_attention.value.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.encoder_decoder_attention.value.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.mlp.wi_0.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.mlp.wi_0.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.mlp.wi_1.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.mlp.wi_1.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.mlp.wo.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.mlp.wo.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.self_attention.key.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.self_attention.key.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.self_attention.out.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.self_attention.out.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.self_attention.query.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.self_attention.query.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.self_attention.value.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_10.self_attention.value.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.encoder_decoder_attention.key.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.encoder_decoder_attention.key.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.encoder_decoder_attention.out.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.encoder_decoder_attention.out.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.encoder_decoder_attention.query.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.encoder_decoder_attention.query.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.encoder_decoder_attention.value.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.encoder_decoder_attention.value.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.mlp.wi_0.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.mlp.wi_0.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.mlp.wi_1.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.mlp.wi_1.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.mlp.wo.kernel/.zarray
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.mlp.wo.kernel/0.0
.kaggle-outputs/my_log/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_11.self_attention.key.kernel/.zarray
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/checkpoint
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.key.kernel/.zarray
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.key.kernel/0.0
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.out.kernel/.zarray
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.out.kernel/0.0
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.query.kernel/.zarray
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.query.kernel/0.0
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.value.kernel/.zarray
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.value.kernel/0.0
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_0.kernel/.zarray
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_0.kernel/0.0
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_1.kernel/.zarray
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_1.kernel/0.0
.kaggle-outputs/my_log2/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wo.kernel/.zarray
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/checkpoint
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.key.kernel/.zarray
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.key.kernel/0.0
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.out.kernel/.zarray
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.out.kernel/0.0
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.query.kernel/.zarray
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.query.kernel/0.0
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.value.kernel/.zarray
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.encoder_decoder_attention.value.kernel/0.0
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_0.kernel/.zarray
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_0.kernel/0.0
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_1.kernel/.zarray
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wi_1.kernel/0.0
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wo.kernel/.zarray
.kaggle-outputs/my_log3/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.layers_0.mlp.wo.kernel/0.0
.kaggle-outputs/my_log4/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.logits_dense.kernel/.zarray
.kaggle-outputs/my_log4/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.logits_dense.kernel/0.0
.kaggle-outputs/my_log4/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.logits_dense.kernel/0.1
.kaggle-outputs/my_log4/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.logits_dense.kernel/0.2
.kaggle-outputs/my_log4/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.logits_dense.kernel/0.3
.kaggle-outputs/my_log4/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.logits_dense.kernel/0.4
.kaggle-outputs/my_log4/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.logits_dense.kernel/0.5
.kaggle-outputs/my_log4/checkpoints/t5_1_1_base/checkpoint_1000000/target.decoder.logits_dense.kernel/0.6
.kaggle-outputs/my_log5/notebook9293550c4d.log
.kaggle-outputs/my_notebook/notebook9293550c4d.ipynb
.kaggle-outputs/my_notebook2/notebook9293550c4d.ipynb
.kaggle-outputs/my_notebook3/notebook9293550c4d.ipynb
remote_notebooks/yipking__notebook9293550c4d/notebook9293550c4d.ipynb
